# CMake
#########################
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Debug
MinSizeRel
Release
RelWithDebInfo

# Eclipse
#########################
*.cproject
*.metadata
*.project
*.settings

# Make
#########################
Makefile

# Misc
#########################
*~

# Output
#########################
libsimplicity-raknet.a

# RakNet Source
#########################
simplicity-raknet/src/raknet/c++/*
!simplicity-raknet/src/raknet/c++/README

# Visual Studio
#########################
*.filters
*.sln
*.user
*.vcxproj

