# CMake
#########################
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Debug
MinSizeRel
Release
RelWithDebInfo

# Eclipse
#########################
*.cproject
*.metadata
*.project
*.settings

# Visual Studio
#########################
*.filters
*.sln
*.user
*.vcxproj

# RakNet Source
#########################
simplicity-raknet/src/raknet/c++/*
!simplicity-raknet/src/raknet/c++/README

